# docs
docs/build/

# env and caches

mds-env/
**/__pycache__/
.pytest_cache/
.ruff_cache/

# IDE files
.idea

# compiled files
**.so
build/
**/auto_examples/
wheelhouse/
dist/
**.egg-info
docs/source/modules/generated/
/docs/source/sg_execution_times.rst

# cython files
**/emos.c
**/mds.cpp

# Reportings
reporting/